.sidebar__option {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  border-right: 5px #1e1e1e solid;
  transition: 300ms ease;
  cursor: pointer;
  color: gray;
}

.sidebar__option:hover {
  color: white;
}

.sidebar__option--active {
  color: white;
  border-right-color: l;
}

.sidebar__option > .MuiSvgIcon-root {
  margin-right: 20px !important;
  font-size: 36px !important;
}

.sidebar__option--active > .MuiSvgIcon-root {
  color: l !important;
}

.sidebar__option > p {
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 640px) {
  .sidebar__option > p {
    display: none;
  }

  .sidebar__option--active {
   border-right-color: transparent
  }
}
