body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  scroll-behavior: smooth;
}

.no-cursor {
  cursor: not-allowed !important;
}

.textcolor {
  color: lime;
  font-weight: 300;
}

body {
  background-color: #1e1e1e;
}

.homepage,
.moviepage,
.movieinfopage {
  display: flex;
  color: white;
}

.moviepage {
  align-items: start;
}

.home {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

a {
  text-decoration: none;
}

/* SIDEBAR */

.sidebar {
  height: 100vh;
  width: 200px;
  color: grey;
  padding-left: 32px;
  padding-top: 16px;
  border-right: 1px solid rgba(128, 128, 128, 0.295);
}

.sidebar > h4 {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 300;
}

.sidebar__top {
  padding-bottom: 16px;
}

.sidebar__bottom {
  margin-right: 32px;
  padding-top: 32px;
  border-top: 1px rgba(128, 128, 128, 0.377) solid;
}

/* NAVIGATION */

#landing {
  flex: 0.85;
  overflow: hidden;
}
.nav__content {
  flex: 1;
  max-width: 1480px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 24px 80px;
  z-index: 1;
  background-color: transparent;
}

.nav__left,
.nav__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__left > h3 {
  font-weight: 400;
  cursor: default;
}

.nav__logo--wrapper {
  width: 80px;
  margin-right: 32px;
}

.nav__logo {
  max-width: 100%;
  filter: invert(0.9);
}

.nav__link {
  margin: 0 16px;
  font-weight: 200;
  font-size: 18px;
  padding-bottom: 4px;
  border-bottom: 1px transparent solid;
  transition: color 400ms ease, border-bottom-color 400ms ease;
}

.nav__link:hover {
  color: #fff;
  border-bottom-color: #fff;
}

.nav__input--wrapper {
  position: relative;
}

.nav__input {
  padding: 12px 4px 12px 32px;
  border-radius: 40px;
  width: 0px;
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: 24px;
  transition: width 500ms ease;
  cursor: default;
}

.nav__search {
  position: absolute;
  left: 8px;
  top: 10px;
  cursor: pointer;
}

.fa-solid {
  color: white;
}

.nav__input:focus,
.nav__input:active {
  width: 240px;
  outline: 2px #fff solid;
  cursor: text;
}

.nav__settings {
  cursor: not-allowed;
}

/* MOVIE BACKGROUND */

.movie__background--wrapper {
  height: 400px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: 0 60px 50px 0 rgb(5, 5, 5, 0.45);
}

.movie__background--img {
  filter: opacity(30%);
}

.movie__background--text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 0 16px;
}

.movie__background--title {
  font-size: 60px;
  font-weight: 200;
  margin-top: 80px;
  margin-bottom: 12px;
}

.movie__background--para {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 40px;
  width: 100%;
}

.movie__background--button {
  display: none;
}

.movie__input--wrapper {
  position: relative;
}

.movie__input {
  padding: 24px 60px 24px 30px;
  border-radius: 40px;
  background-color: transparent;
  color: #fff;
  border: 2px #fff solid;
  font-size: 20px;
  transition: 400ms ease;
  max-width: 100%;
}

.movie__input:focus,
.movie__input:active {
  transform: scale(1.02);
  outline: none;
  box-shadow: 0px 0px 8px lime;
}

.movie__input:focus + .movie__search {
  transform: scale(1.02), translateY(-50%);
}

.movie__search {
  position: absolute;
  font-size: 24px;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  transition: 400ms ease;
  cursor: pointer;
}

.movie__search:hover {
  transform: translateY(-50%) scale(1.1);
}

.movie__search:active {
  transform: translateY(-50%) scale(0.8);
}

/* MOVIES */

.movie__container {
  display: flex;
  padding: 10px 0;
}

.movie__row {
  width: 100%;
}

.movies__content {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movies__top {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.movies__top--title {
  font-size: 32px;
  font-weight: 200;
}

.movie__search--result {
  padding: 8px 0;
  margin-left: 24px;
  font-weight: 300;
  text-shadow: 1px 1px 10px lime, 1px 1px 10px lime;
  color: lime;
  border-bottom: 1.5px lime solid;
  font-size: 24px;
  display: none;
}

.movie__search--result-visible .movie__search--result {
  display: block;
}

.movies__list {
  margin-top: 60px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}

.movies__list--loading {
  font-size: 64px;
  color: lime;
  animation: loading 1000ms infinite;
}

.movies__list--loading-visible {
  display: block !important;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.movie {
  width: 198px;
  margin: 24px 8px;
  background-color: #1e1e1e;
  color: #1a1a1a;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 8px 12px 0px rgb(5, 5, 5, 0.45);
  position: relative;
}

.movie__invisible {
  visibility: hidden;
}

.movie__img--wrapper {
  background-color: #1e1e1e;
  width: 100%;
  max-height: 288px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__img--wrapper:hover .movie__img {
  transform: scale(1.04);
  filter: opacity(45%) blur(4px);
}

.movie__img--wrapper:hover .movie__info--list {
  opacity: 100%;
  transition: opacity 800ms;
}

.movie__img--wrapper:hover .movie__info--title {
  opacity: 100%;
  transition: opacity 800ms;
}

.movie__img--wrapper:hover .movie__button {
  opacity: 75%;
  transition: opacity 800ms ease, transform 300ms ease;
}

.movie__img {
  width: 100%;
  max-height: 288px;
  height: 288px;
  transition: all 400ms ease;
  z-index: -2;
}

.movie__title {
  font-weight: 200;
  font-size: 14px;
  margin: 8px 0 24px 0;
  padding: 0 8px;
  color: #fff;
  text-align: center;
}

.movie__info--list {
  position: absolute;
  top: 30%;
  left: 8px;
  transform: translateY(-50%);
  width: 90%;
  z-index: 1;
  opacity: 0%;
  transition: opacity 200ms;
}

.movie__info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 8px;
  color: #fff;
}

.movie__info--text {
  font-size: 15px;
  font-weight: 600;
}

.movie__info--icon {
  color: #fff;
}

.movie__info--title {
  position: absolute;
  text-align: left;
  color: #fff;
  font-size: 20px;
  top: 24px;
  left: 16px;
  opacity: 0;
  transition: opacity 400ms ease;
}

.movie__button {
  border-radius: 999px;
  font-size: 14px;
  font-weight: 300;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0%;
  white-space: nowrap;
  text-align: center;
  padding: 12px 48px;
  background-color: rgb(197, 17, 53);
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 300ms;
}

.movie__button:active {
  transform: translateX(-50%) scale(0.97);
}

@media (max-width: 840px) {
  .movies__top {
    display: flex;
    flex-direction: column;
  }

  .movies__top--title {
    margin-bottom: 8px;
  }

  .movie__search--result {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .row {
    margin: 0 16px;
  }

  .movies__list {
    width: 100%;
  }

  .nav__content {
    padding: 0 40px;
  }

  .nav__link {
    font-size: 18px;
  }

  .nav__logo--wrapper {
    width: 72px;
  }

  .nav__input:focus,
  .nav__input:active {
    width: 200px;
    font-size: 14px;
  }

  .movie {
    width: 180px;
  }

  .movie__info--title {
    font-size: 16px;
  }

  .movie__button {
    padding: 12px 32px;
  }
}

@media (max-width: 640px) {
  .nav__content {
    padding-top: 24px;
  }

  .nav__link {
    font-size: 16px;
  }

  .nav__search,
  .nav__input,
  .nav__logo--wrapper {
    display: none;
    visibility: hidden;
  }

  .nav__logo--wrapper {
    margin-right: 8px;
  }

  .sidebar {
    width: 90px;
    padding-left: 28px;
    padding-top: 32px;
  }

  .sidebar__bottom{
    margin-right: 24px;
  }

  .sidebar > h4 {
    display: none;
  }
}

@media (max-width: 550px) {
  .movie {
    width: 124px;
  }

  .movie__img--wrapper {
    max-height: 188px;
  }

  .movie__img {
    max-height: 188px;
  }

  .movie__background--title {
    font-size: 40px;
  }

  .movie__background--para {
    font-size: 18px;
  }

  .movie__input {
    padding: 16px 0px 16px 20px;
    font-size: 16px;
  }

  .movie__search--result {
    font-size: 20px;
  }

  .movie__info--title {
    font-size: 12px;
  }

  .movie__info {
    margin-bottom: 24px;
  }

  .movie__info:first-child {
    margin-top: 40px;
  }

  .movie__info--text {
    font-size: 12px;
  }

  .movie__info--icon {
    font-size: 12px;
  }

  .movie__search--result {
    font-size: 18px;
  }

  .movie__button {
    font-size: 10px;
    padding: 8px 24px;
  }
}
